* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Sans", sans-serif;
}
 
/*Leonardo */
.leocabecalho{
    background-color: #4a00d4;
    color: #ffffff;
    padding: 15px;
    height:12vh;
}


.leoconteudo{
    width: 100%;
    display: flex;    
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.leoartigo {
    width: 70%;
    padding:1%;
    display: inline-block;
}

.leoperfil{
    display:block;
    margin: 25px auto;
    max-width: 25%;
}

.leobarra-lateral-esquerda, .leobarra-lateral-direita {
    width:15%;
    display:inline-block;
    height:80vh;
}


.leobarra-lateral-esquerda ul {
    list-style-type: none;
    margin: 1%;
    padding: 1%;
}

.leobarra-lateral-esquerda li {
    padding: 5px;
    margin-bottom: 7px;
    background-color: #35088a;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.leobarra-lateral-esquerda li a {
    color: #ffffff;
    text-decoration: none;
    width:100%;
    display: block;
}

.leobarra-lateral-esquerda li:hover {
    background-color: #35088a;
}

.leobarra-lateral-direita h2{
    color: #000000;
    margin: 10px 0;
}

.leobarra-lateral-direita ul {
    list-style-type: none;
    margin: 1%;
    padding: 1%;
}

.leobarra-lateral-direita li {
    padding: 5px;
    margin-bottom: 7px;
    background-color: #35088a;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.leobarra-lateral-direita li a {
    color: #ffffff;
    text-decoration: none;
    width:100%;
    display: block;
}

.leobarra-lateral-direita li:hover {
    background-color: #35088a;
}
.leorodape {
    background-color: #4a00d4;
    padding:1%;
    color: #FFF;
}


/* Desse ponto em diante estamos falando de reponsive*/
@media (max-width: 765px) {
    .leobarra-lateral-esquerda,
    .leobarra-lateral-direita {
        width: 100%;
        height: 100%;
        padding:2%;
    }
        }
        .leoartigo {
        padding:2%;
    
        }
    
        .leorodape  {
         padding:5%;
    
        }
    
        @media (max-width: 400px) {
        .leoconteudo{
                background-color: rgb(255, 255, 255);
        }
    }    
        @media (max-width: 400px) {
            .leoartigo{
                background-color: rgb(255, 255, 255);
            }
        }
        @media (max-width: 400px) {
            .leobarra-lateral-direita{
                background-color: rgb(255, 255, 255);
            }
        } 
        @media (max-width: 400px) {
            .leorodape{
                background-color: rgb(18, 49, 90);
                width: 100%;
            }
        }
        @media (max-width: 400px) {
            .leobarra-lateral-direita li{
                background-color: rgb(18, 49, 90);
            }
        }
        @media (max-width: 400px) {
            .leobarra-lateral-direita ul{
                background-color: rgb(255, 255, 255);
            }
        }
        @media (max-width: 400px) {
            .leobarra-lateral-direita h2{
                background-color: rgb(255, 255, 255);
            }
        }
        @media (max-width: 400px) {
            .leocabecalho{
                background-color: rgb(18, 49, 90);
            }
        }
        @media (max-width: 400px) {
            .leobarra-lateral-esquerda li{
                background-color: rgb(18, 49, 90);
            }
        }
        @media (max-width: 400px) {
            .leobarra-lateral-esquerda{
                background-color: rgb(80, 114, 158);
            }    
        }
/*Leonardo*/    

/*Donatello*/
