* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Sans", sans-serif;
}
/*Inicio*/

.inicabecalho {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    padding: 15px;
    height:12vh;
}


.iniconteudo{
    width: 100%;
    display: flex;    
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.iniartigo {
    width: 70%;
    padding:1%;
    display: inline-block;
    background-color: rgb(255, 255, 255);
}

.iniperfil{
    display:block;
    margin: 25px auto;
    max-width: 55%;
}



.inibarra-lateral-esquerda {
    width:15%;
    display:inline-block;
    height:80vh;
}

.inibarra-lateral-esquerda ul {
    list-style-type: none;
    margin: 4%;
    padding: 8%;
}

.inibarra-lateral-esquerda li {
    padding: 6px;
    margin-bottom: 7px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.inibarra-lateral-esquerda li a {
    color: #ffffff;
    text-decoration: none;
    width:100%;
    display: block;
}

.inibarra-lateral-esquerda li:hover {
    background-color: #595b5f;
}
.inirodape {
    background-color: rgb(0, 0, 0);
    padding:1%;
    color: #FFF;
    width: 100%;
}


/* Desse ponto em diante é reponsive*/
@media (max-width: 765px) {
    .inibarra-lateral-esquerda {
        width: 100%;
        height: 100%;
        padding:2%;
    }
        }
        .iniartigo {
        padding:2%;
    
        }
        .inirodape  {
         padding:5%;
    
        }
        @media (max-width: 400px) {
            .inirodape{
                background-color: rgb(0, 48, 7);
            } 
        }
        @media (max-width: 400px) {
            .inicabecalho{
                background-color: rgb(0, 48, 7);
            }
        }
        @media (max-width: 400px) {
            .inibarra-lateral-esquerda li{
                background-color: rgb(0, 48, 7);
            }
        }
/*Inicio*/        

/*Leonardo*/

.leocabecalho{
    background-color: #4a00d4;
    color: #ffffff;
    padding: 15px;
    height:12vh;
}


.leoconteudo{
    width: 100%;
    display: flex;    
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.leoartigo {
    width: 70%;
    padding:1%;
    display: inline-block;
}

.leoperfil{
    display:block;
    margin: 25px auto;
    max-width: 25%;
}

.leobarra-lateral-esquerda, .leobarra-lateral-direita {
    width:15%;
    display:inline-block;
    height:80vh;
}


.leobarra-lateral-esquerda ul {
    list-style-type: none;
    margin: 1%;
    padding: 1%;
}

.leobarra-lateral-esquerda li {
    padding: 5px;
    margin-bottom: 7px;
    background-color: #35088a;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.leobarra-lateral-esquerda li a {
    color: #ffffff;
    text-decoration: none;
    width:100%;
    display: block;
}

.leobarra-lateral-esquerda li:hover {
    background-color: #35088a;
}

.leobarra-lateral-direita h2{
    color: #000000;
    margin: 10px 0;
}

.leobarra-lateral-direita ul {
    list-style-type: none;
    margin: 1%;
    padding: 1%;
}

.leobarra-lateral-direita li {
    padding: 5px;
    margin-bottom: 7px;
    background-color: #35088a;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.leobarra-lateral-direita li a {
    color: #ffffff;
    text-decoration: none;
    width:100%;
    display: block;
}

.leobarra-lateral-direita li:hover {
    background-color: #35088a;
}
.leorodape {
    background-color: #4a00d4;
    padding:1%;
    color: #FFF;
}
/* Desse ponto em diante é reponsive*/
@media (max-width: 765px) {
    .leobarra-lateral-esquerda,
    .leobarra-lateral-direita {
        width: 100%;
        height: 100%;
        padding:2%;
    }
        }
        .leoartigo {
        padding:2%;
    
        }
    
        .leorodape  {
         padding:5%;
    
        }
        @media (max-width: 400px) {
        .leoconteudo{
                background-color: rgb(255, 255, 255);
        }
    }    
        @media (max-width: 400px) {
            .leoartigo{
                background-color: rgb(255, 255, 255);
            }
        }
        @media (max-width: 400px) {
            .leobarra-lateral-direita{
                background-color: rgb(255, 255, 255);
            }
        } 
        @media (max-width: 400px) {
            .leorodape{
                background-color: rgb(18, 49, 90);
                width: 100%;
            }
        }
        @media (max-width: 400px) {
            .leobarra-lateral-direita li{
                background-color: rgb(18, 49, 90);
            }
        }
        @media (max-width: 400px) {
            .leobarra-lateral-direita ul{
                background-color: rgb(255, 255, 255);
            }
        }
        @media (max-width: 400px) {
            .leobarra-lateral-direita h2{
                background-color: rgb(255, 255, 255);
            }
        }
        @media (max-width: 400px) {
            .leocabecalho{
                background-color: rgb(18, 49, 90);
            }
        }
        @media (max-width: 400px) {
            .leobarra-lateral-esquerda li{
                background-color: rgb(18, 49, 90);
            }
        }
        @media (max-width: 400px) {
            .leobarra-lateral-esquerda{
                background-color: rgb(80, 114, 158);
            }    
        }
/*Leonardo*/ 

/*Donatello*/

.doncabecalho {
    background-color: rgb(53, 0, 85);
    color: #ffffff;
    padding: 15px;
    height:12vh;
}

.donconteudo{
    width: 100%;
    display: flex;    
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    background-color: rgb(135, 94, 160);
}

.donartigo {
    width: 70%;
    padding:1%;
    display: inline-block;
    background-color: rgb(135, 94, 160);
}

.donperfil{
    display:block;
    margin: 25px auto;
    max-width: 25%;
}

.donbarra-lateral-esquerda, .donbarra-lateral-direita {
    width:15%;
    display:inline-block;
    height:80vh;
}

.donbarra-lateral-esquerda ul {
    list-style-type: none;
    margin: 1%;
    padding: 1%;
}

.donbarra-lateral-esquerda li {
    padding: 6px;
    margin-bottom: 7px;
    background-color: rgb(53, 0, 85);
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.donbarra-lateral-esquerda li a {
    color: #ffffff;
    text-decoration: none;
    width:100%;
    display: block;
}

.donbarra-lateral-esquerda li:hover {
    background-color: #618ad4;
}

.donbarra-lateral-direita h2{
    color: #300b3f;
    margin: 10px 0;
}

.donbarra-lateral-direita ul {
    list-style-type: none;
    margin: 1%;
    padding: 1%;
}

.donbarra-lateral-direita li {
    padding: 5px;
    margin-bottom: 7px;
    background-color: rgb(53, 0, 85);
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.donbarra-lateral-direita li a {
    color: #ffffff;
    text-decoration: none;
    width:100%;
    display: block;
}

.dondonbarra-lateral-direita li:hover {
    background-color: #618ad4;
}
.donrodape {
    background-color: rgb(53, 0, 85);
    padding:1%;
    color: #FFF;
    width: 100%;
}
/* Desse ponto em diante é reponsive*/
@media (max-width: 765px) {
.donbarra-lateral-esquerda,
.donbarra-lateral-direita {
    width: 100%;
    height: 100%;
    padding:2%;
}
    }
    .donartigo {
    padding:2%;
    }
    .donrodape  {
     padding:5%;

    }
    @media (max-width: 400px) {
    .donconteudo{
	        background-color: rgb(255, 255, 255);
    }
}    
    @media (max-width: 400px) {
        .donartigo{
            background-color: rgb(255, 255, 255);
        }
    }
    @media (max-width: 400px) {
        .donbarra-lateral-direita{
            background-color: rgb(255, 255, 255);
        }
    } 
    @media (max-width: 400px) {
        .donrodape{
            background-color: rgb(0, 71, 10);
        }
    }
    @media (max-width: 400px) {
        .donbarra-lateral-direita li{
            background-color: rgb(53, 0, 85);
        }
    }
    @media (max-width: 400px) {
        .donbarra-lateral-direita ul{
            background-color: rgb(255, 255, 255);
        }
    }
    @media (max-width: 400px) {
        .donbarra-lateral-direita h2{
            background-color: rgb(255, 255, 255);
        }
    }
    @media (max-width: 400px) {
        .doncabecalho{
            background-color: rgb(0, 71, 10);
        }
    }
    @media (max-width: 400px) {
        .donbarra-lateral-esquerda li{
            background-color: rgb(53, 0, 85);
        }
    }
    @media (max-width: 400px) {
        .donbarra-lateral-esquerda{
            background-color: rgb(253, 253, 253);
        }    
    }    
/*Donatello*/

/*Raphael*/

.raphcabecalho {
    background-color: rgb(175, 26, 26);
    color: #ffffff;
    padding: 15px;
    height:12vh;
}


.raphconteudo{
    width: 100%;
    display: flex;    
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.raphartigo {
    width: 70%;
    padding:1%;
    display: inline-block;
    background-color: rgb(255, 255, 255);
}

.raphperfil{
    display:block;
    margin: 25px auto;
    max-width: 25%;
}


.raphbarra-lateral-esquerda, .raphbarra-lateral-direita {
    width:15%;
    display:inline-block;
    height:80vh;
}


.raphbarra-lateral-esquerda ul {
    list-style-type: none;
    margin: 1%;
    padding: 1%;
}

.raphbarra-lateral-esquerda li {
    padding: 6px;
    margin-bottom: 7px;
    background-color: rgb(175, 26, 26);
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.raphbarra-lateral-esquerda li a {
    color: #ffffff;
    text-decoration: none;
    width:100%;
    display: block;
}

.raphbarra-lateral-esquerda li:hover {
    background-color: #000000;
}

.raphbarra-lateral-direita h2{
    color: #000000;
    margin: 10px 0;
}

.raphbarra-lateral-direita ul {
    list-style-type: none;
    margin: 1%;
    padding: 1%;
}

.raphbarra-lateral-direita li {
    padding: 5px;
    margin-bottom: 7px;
    background-color: rgb(175, 26, 26);
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.raphbarra-lateral-direita li a {
    color: #ffffff;
    text-decoration: none;
    width:100%;
    display: block;
}

.raphbarra-lateral-direita li:hover {
    background-color: #000000;
}
.raphrodape {
    background-color: rgb(175, 26, 26);
    padding:1%;
    color: #FFF;
    width: 100%;
}
/* Desse ponto em diante é reponsive*/
@media (max-width: 765px) {
    .raphbarra-lateral-esquerda,
    .raphbarra-lateral-direita {
        width: 100%;
        height: 100%;
        padding:2%;
    }
        }
        .raphartigo {
        padding:2%;
    
        }
        .raphrodape  {
         padding:5%;
    
        }
        @media (max-width: 400px) {
            .raphconteudo{
                background-color: rgb(255, 255, 255);
        }
    }    
        @media (max-width: 400px) {
            .raphartigo{
                background-color: rgb(255, 255, 255);
            }
        }
        @media (max-width: 400px) {
            .raphbarra-lateral-direita{
                background-color: rgb(255, 255, 255);
            }
        } 
        @media (max-width: 400px) {
            .raphrodape{
                background-color: rgb(250, 2, 2);
                width: 100%;
            }
        }
        @media (max-width: 400px) {
            .raphbarra-lateral-direita li{
                background-color: rgb(49, 231, 49);
            }
        }
        @media (max-width: 400px) {
            .raphbarra-lateral-direita ul{
                background-color: rgb(255, 255, 255);
            }
        }
        @media (max-width: 400px) {
            .raphbarra-lateral-direita h2{
                background-color: rgb(117, 202, 117);
            }
        }
        @media (max-width: 400px) {
            .raphcabecalho{
                background-color: rgb(250, 2, 2);
            }
        }
        @media (max-width: 400px) {
            .raphbarra-lateral-esquerda li{
                background-color: rgb(49, 231, 49);
            }
        }
        @media (max-width: 400px) {
            .raphbarra-lateral-esquerda{
                background-color: rgb(255, 255, 255);
            }    
        }    
/*Raphael*/

/*Michelangelo*/
 
.michcabecalho {
    background-color: rgb(247, 148, 1);
    color: #ffffff;
    padding: 15px;
    height:12vh;
}


.michconteudo{
    width: 100%;
    display: flex;    
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.michartigo {
    width: 70%;
    padding:1%;
    display: inline-block;
    background-color: rgb(255, 255, 255);
}

.michperfil{
    display:block;
    margin: 25px auto;
    max-width: 25%;
}



.michbarra-lateral-esquerda, .michbarra-lateral-direita {
    width:15%;
    display:inline-block;
    height:80vh;
}


.michbarra-lateral-esquerda ul {
    list-style-type: none;
    margin: 1%;
    padding: 1%;
}

.michbarra-lateral-esquerda li {
    padding: 6px;
    margin-bottom: 7px;
    background-color: rgb(255, 196, 0);
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.michbarra-lateral-esquerda li a {
    color: #ffffff;
    text-decoration: none;
    width:100%;
    display: block;
}

.michbarra-lateral-esquerda li:hover {
    background-color: #30ce00;
}

.michbarra-lateral-direita h2{
    color: #000000;
    margin: 10px 0;
}

.michbarra-lateral-direita ul {
    list-style-type: none;
    margin: 1%;
    padding: 1%;
}

.michbarra-lateral-direita li {
    padding: 5px;
    margin-bottom: 7px;
    background-color: rgb(255, 196, 0);
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.michbarra-lateral-direita li a {
    color: #ffffff;
    text-decoration: none;
    width:100%;
    display: block;
}

.michbarra-lateral-direita li:hover {
    background-color: #30ce00;
}
.michrodape {
    background-color: rgb(253, 135, 0);
    padding:1%;
    color: #FFF;
    width: 100%;
}
/* Desse ponto em diante é reponsive*/
@media (max-width: 765px) {
    .michbarra-lateral-esquerda,
    .michbarra-lateral-direita {
        width: 100%;
        height: 100%;
        padding:2%;
    }
        }
        .michartigo {
        padding:2%;
        }
        .michrodape  {
         padding:5%;
    
        }
    
        @media (max-width: 400px) {
            .michconteudo{
                background-color: rgb(255, 255, 255);
        }
    }    
        @media (max-width: 400px) {
            .michartigo{
                background-color: rgb(255, 255, 255);
            }
        }
        @media (max-width: 400px) {
            .michbarra-lateral-direita{
                background-color: rgb(255, 255, 255);
            }
        } 
        @media (max-width: 400px) {
            .michrodape{
                background-color: rgb(255, 177, 74);
                width: 100%;
            }
        }
        @media (max-width: 400px) {
            .michbarra-lateral-direita li{
                background-color: rgb(255, 177, 74);
            }
        }
        @media (max-width: 400px) {
            .michbarra-lateral-direita ul{
                background-color: rgb(255, 255, 255);
            }
        }
        @media (max-width: 400px) {
            .michbarra-lateral-direita h2{
                background-color: rgb(201, 201, 201);
            }
        }
        @media (max-width: 400px) {
            .michcabecalho{
                background-color: rgb(255, 177, 74);
            }
        }
        @media (max-width: 400px) {
            .michbarra-lateral-esquerda li{
                background-color: rgb(255, 177, 74);
            }
        }
        @media (max-width: 400px) {
            .michbarra-lateral-esquerda{
                background-color: rgb(201, 201, 201);
            }
        }   
/*Michelangelo*/

/*Mestre Splinter*/

.mrcabecalho {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    padding: 15px;
    height:12vh;
}


.mrconteudo{
    width: 100%;
    display: flex;    
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.mrartigo {
    width: 70%;
    padding:1%;
    display: inline-block;
    background-color: rgb(255, 255, 255);
}

.mrperfil{
    display:block;
    margin: 25px auto;
    max-width: 25%;
}

.mrletra{
    background-color: black;
    font-size: 4;
}

.mrbarra-lateral-esquerda {
    width:15%;
    display:inline-block;
    height:80vh;
}


.mrbarra-lateral-esquerda ul {
    list-style-type: none;
    margin: 1%;
    padding: 1%;
}

.mrbarra-lateral-esquerda li {
    padding: 6px;
    margin-bottom: 7px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.mrbarra-lateral-esquerda li a {
    color: #ffffff;
    text-decoration: none;
    width:100%;
    display: block;
}

.mrbarra-lateral-esquerda li:hover {
    background-color: #a1a3a5;
}
.mrrodape {
    background-color: rgb(0, 0, 0);
    padding:1%;
    color: #FFF;
    width: 100%;
}

/* Desse ponto em diante é responsive*/
@media screen and (max-width: 768px) {
    .mrbarra-lateral-esquerda, .mrbarra-lateral-direita {
        width: 100%;
        height: 100%;
        padding:2%;
    }

    .mrartigo{
        padding:2%;
        width:100%;
        display: inline-block;
    }

    .mrrodape{
        padding:5%;
    }    
}

    @media (max-width: 400px) {
        .mrconteudo{
                background-color: rgb(255, 255, 255);
        }
    }    
        @media (max-width: 400px) {
            .mrartigo{
                background-color: rgb(255, 255, 255);
            }
        }
        @media (max-width: 400px) {
            .mrbarra-lateral-direita{
                background-color: rgb(255, 255, 255);
            }
        } 
        @media (max-width: 400px) {
            .mrrodape{
                background-color: rgb(194, 8, 8);
                width: 100%;
            }
        }
        @media (max-width: 400px) {
            .mrbarra-lateral-direita li{
                background-color: rgb(53, 0, 85);
            }
        }
        @media (max-width: 400px) {
            .mrbarra-lateral-direita ul{
                background-color: rgb(255, 255, 255);
            }
        }
        @media (max-width: 400px) {
            .mrbarra-lateral-direita h2{
                background-color: rgb(255, 255, 255);
            }
        }
        @media (max-width: 400px) {
            .mrcabecalho{
                background-color: rgb(194, 8, 8);
            }
        }
        @media (max-width: 400px) {
            .mrbarra-lateral-esquerda li{
                background-color: rgb(194, 8, 8);
            }
        }
        @media (max-width: 400px) {
            .mrbarra-lateral-esquerda{
                background-color: rgb(192, 86, 86);
            }    
        }    
/*Mestre Splinter*/